In [2]:
titanic_test = pd.read_csv('test.csv')

titanic_train = pd.read_csv('train.csv')
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
titanic_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Titatin Train Data - Cleaning & filling the blanks

In [5]:
titanic_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
titanic_data = titanic_train.drop(['Name','Ticket','Cabin'], axis=1)

titanic_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [7]:
from sklearn.preprocessing import LabelEncoder

E_gender = pd.DataFrame(LabelEncoder().fit_transform(titanic_data['Sex']),columns = ['IsMale']).astype(float)

titanic_final = pd.concat([titanic_data,E_gender],axis=1)

titanic_final.drop(['Sex'], axis=1, inplace = True)

titanic_final.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare Embarked  IsMale
0            1         0       3  22.0      1      0   7.2500        S     1.0
1            2         1       1  38.0      1      0  71.2833        C     0.0
2            3         1       3  26.0      0      0   7.9250        S     0.0
3            4         1       1  35.0      1      0  53.1000        S     0.0
4            5         0       3  35.0      0      0   8.0500        S     1.0

In [8]:
titanic_final = pd.get_dummies(titanic_final, columns=['Embarked'], prefix=['Embarked']).astype(float)

#pd.concat([titanic_final,titanic_Dummy],axis=1)

titanic_final.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,IsMale,Embarked_C,Embarked_Q,Embarked_S
0,1.0,0.0,3.0,22.0,1.0,0.0,7.2500,1.0,0.0,0.0,1.0
1,2.0,1.0,1.0,38.0,1.0,0.0,71.2833,0.0,1.0,0.0,0.0
2,3.0,1.0,3.0,26.0,0.0,0.0,7.9250,0.0,0.0,0.0,1.0
3,4.0,1.0,1.0,35.0,1.0,0.0,53.1000,0.0,0.0,0.0,1.0
4,5.0,0.0,3.0,35.0,0.0,0.0,8.0500,1.0,0.0,0.0,1.0

In [9]:
median_age_by_parch = titanic_final.groupby('Parch')['Age'].median()

titanic_final['Age'] = titanic_final.apply(
    lambda row: median_age_by_parch[row['Parch']] if pd.isna(row['Age']) else row['Age'],
    axis=1
)

In [10]:
titanic_final.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,IsMale,Embarked_C,Embarked_Q,Embarked_S
0,1.0,0.0,3.0,22.0,1.0,0.0,7.2500,1.0,0.0,0.0,1.0
1,2.0,1.0,1.0,38.0,1.0,0.0,71.2833,0.0,1.0,0.0,0.0
2,3.0,1.0,3.0,26.0,0.0,0.0,7.9250,0.0,0.0,0.0,1.0
3,4.0,1.0,1.0,35.0,1.0,0.0,53.1000,0.0,0.0,0.0,1.0
4,5.0,0.0,3.0,35.0,0.0,0.0,8.0500,1.0,0.0,0.0,1.0

In [11]:
titanic_final.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
IsMale         0
Embarked_C     0
Embarked_Q     0
Embarked_S     0
dtype: int64

## Titanic Test Data - Cleaning & filling the blanks

In [12]:
titanic_data_test = titanic_test.drop(['Name','Ticket','Cabin'], axis=1)


from sklearn.preprocessing import LabelEncoder

E_gender_test = pd.DataFrame(LabelEncoder().fit_transform(titanic_data_test['Sex']),columns = ['IsMale']).astype(float)

titanic_final_test = pd.concat([titanic_data_test,E_gender_test],axis=1)

titanic_final_test.drop(['Sex'], axis=1, inplace = True)


titanic_final_test = pd.get_dummies(titanic_final_test, columns=['Embarked'], prefix=['Embarked']).astype(float)



median_age_by_parch = titanic_final_test.groupby('Parch')['Age'].median()

titanic_final_test['Age'] = titanic_final_test.apply(
    lambda row: median_age_by_parch[row['Parch']] if pd.isna(row['Age']) else row['Age'],
    axis=1
)
#print(titanic_final.isnull().sum())

#titanic_final_test.dropna(inplace=True)


print(titanic_final_test[titanic_final_test['Age'].isnull()])

print(median_age_by_parch)


print(titanic_final_test['Age'].isnull().sum())



print(titanic_final_test.isnull().sum())

     PassengerId  Pclass  Age  SibSp  Parch   Fare  IsMale  Embarked_C  \
342       1234.0     3.0  NaN    1.0    9.0  69.55     1.0         0.0
365       1257.0     3.0  NaN    1.0    9.0  69.55     0.0         0.0

     Embarked_Q  Embarked_S
342         0.0         1.0
365         0.0         1.0
Parch
0.0    28.0
1.0    22.0
2.0    24.0
3.0    48.0
4.0    60.0
5.0    40.0
6.0    40.0
9.0     NaN
Name: Age, dtype: float64
2
PassengerId    0
Pclass         0
Age            2
SibSp          0
Parch          0
Fare           1
IsMale         0
Embarked_C     0
Embarked_Q     0
Embarked_S     0
dtype: int64

In [13]:
overall_median_age = titanic_final_test['Age'].median()
titanic_final_test['Age'].fillna(overall_median_age, inplace=True)

print(titanic_final_test['Age'].isnull().sum())

print(titanic_final_test.isnull().sum())

0
PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           1
IsMale         0
Embarked_C     0
Embarked_Q     0
Embarked_S     0
dtype: int64

In [14]:
titanic_final_test[titanic_final_test['Fare'].isnull()]

,PassengerId,Pclass,Age,SibSp,Parch,Fare,IsMale,Embarked_C,Embarked_Q,Embarked_S
152,1044.0,3.0,60.5,0.0,0.0,NaN,1.0,0.0,0.0,1.0

In [15]:

# age bins and labels for filling the fare of the single passanger witout it
age_bins = [0, 10, 20, 30, 40, 50, 61]
age_labels = ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60']

median_fare_by_age = pd.DataFrame({'AgeBin': age_labels})

for label in age_labels:
    lower_age, upper_age = map(int, label.split('-'))
    median_fare = titanic_final_test[(titanic_final_test['Age'] >= lower_age) & (titanic_final_test['Age'] < upper_age)]['Fare'].median()
    median_fare_by_age.loc[median_fare_by_age['AgeBin'] == label, 'MedianFare'] = median_fare

print(median_fare_by_age)

  AgeBin  MedianFare
0   0-10    18.45625
1  11-20    13.00000
2  21-30     8.66250
3  31-40    17.70000
4  41-50    31.50000
5  51-60    55.44170

In [16]:
# Calculate median fare price for each port in order to filling the fare of the single passanger witout it
median_fare_C = titanic_final_test.loc[titanic_final_test['Embarked_C'] == 1, 'Fare'].median()
median_fare_Q = titanic_final_test.loc[titanic_final_test['Embarked_Q'] == 1, 'Fare'].median()
median_fare_S = titanic_final_test.loc[titanic_final_test['Embarked_S'] == 1, 'Fare'].median()

median_fare_by_embarked_df = pd.DataFrame({
    'Embarked': ['C', 'Q', 'S'],
    'Median_Fare': [median_fare_C, median_fare_Q, median_fare_S]
})

print(median_fare_by_embarked_df)

  Embarked  Median_Fare
0        C      27.7208
1        Q       7.7500
2        S      13.7750

In [17]:
missing_fare_passengers = titanic_final_test[titanic_final_test['Fare'].isnull()]


mean_fare = (27.7208+55.44170)/2 # made a mean out of the ,median results from the two tables above

titanic_final_test.loc[missing_fare_passengers.index, 'Fare'] = mean_fare

titanic_final_test[titanic_final_test['Fare'].isnull()]

print(titanic_final_test.isnull().sum())

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
IsMale         0
Embarked_C     0
Embarked_Q     0
Embarked_S     0
dtype: int64

## Logistic Regression Model

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score


train_data = titanic_final
test_data =titanic_final_test

X_train = train_data.drop(['Survived'], axis=1)
y_train = train_data['Survived']


LogReg = LogisticRegression(solver='liblinear')
LogReg.fit(X_train, y_train)


X_test = test_data


y_pred = LogReg.predict(X_test)


predictions_df = pd.DataFrame({
    'PassengerId': test_data['PassengerId'].astype('int32'),
    'Survived': y_pred.astype('int32')
})



# the model
y_train_pred = LogReg.predict(X_train)
accuracy = accuracy_score(y_train, y_train_pred)
precision = precision_score(y_train, y_train_pred)
recall = recall_score(y_train, y_train_pred)
f1 = f1_score(y_train, y_train_pred)

print("Training Set Metrics:")
print(f"Accuracy: {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1:.2f}")

predictions_df.head()


predictions_df.to_csv('titanic_predictions_LogReg.csv', index=False)

Training Set Metrics:
Accuracy: 0.81
Precision: 0.78
Recall: 0.70
F1 Score: 0.73

In [19]:
predictions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int32
 1   Survived     418 non-null    int32
dtypes: int32(2)
memory usage: 3.4 KB